<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>Facturacion</h2>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <p>Esta es una aplicacion creada usando la plantilla basica de ASP.NET, con Angular embevido, pido disculpas si algunos datos no coiciden con sus bases de datos, me tome la libertar de cambiar ciertos cambios para poder desarrollar de manera mas facil, por favor tomese el tiempo de leer el codigo que lo hice con el mayor amor del mundo.</p>
        </div>
    </div>
    <div class="row">
        <p>Escoja una opcion:</p>
        <div class="col">
            <button class="btn btn-primary" (click)="newFactura()">Nueva Factura</button>
        </div>
        <div class="col">
            <button class="btn btn-info" (click)="searchFactura()">Buscar Factura</button>
        </div>
    </div>
    
    
</div>
